# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/.idea.webpage.iml
/modules.xml
/contentModel.xml

/.idea
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# dfx temporary files
.dfx/
.vessel/
.mops/


# other folders and files
/.idea/
/.vscode
canister_ids.json

*.sh
**/*.pem


node_modules

.env
.dfx/local/network-id
