.main-html-content {
    font-family: 'Montserrat', sans-serif;

    scroll-behavior: smooth;
    background-color: #0e0f2c;
    margin: 0;
    padding: 0;

    /* font-size: 62.5%; */
    min-width: 43.5rem;
    /* width: 144em; */
}

.main-body-content {
    height: 100%;
    margin: 0rem 0.4rem 0rem 0.4rem;
    /* margin: 1.2em 3.2em 0.4em 3.2em; */
    /* left: 0.5rm; */
}

/* The complete header height inclusive the sub-navigation menu height */
.main-header {
    /* height: 17.2em; */
    height: auto;
    width: auto;
}

.main-header-div {
    background-color: #55557b;

    width: 100%;
    border-top-left-radius: 1.4rem;
    border-top-right-radius: 1.4rem;
    box-shadow:
        0 0.2em 0.3em rgba(255, 254, 254, 0.25),
        inset 0.4em 0.3em 0.6em rgba(255, 251, 251, 0.25);
}

.main-header table {
    height: 100%;
    width: auto;
    /* white-space: nowrap; */
}
.main-header td {
    width: 1rem;
    min-width: 6rem;

    /* white-space: nowrap; */
}

.main-header-image {
    margin-left: 1.5rem;
    margin-top: 0.2rem;
    vertical-align: middle;
}

.main-header td:last-child {
    width: 100%;
    text-align: end;
    padding-right: 1rem;
}

/* #region header buttons */
.main-header-button,
.walletLoginButton,
.button-dropdownmenu {
    width: 100%;

    background-color: rgba(84, 143, 232, 0.4);
    color: rgba(255, 255, 255, 0.9);
    border: 0.3rem solid rgba(6, 42, 97, 0.8);

    font-size: 0.7rem;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    stroke: #0e0f2c;
    stroke-width: 1em;

    transition-duration: 0.4s;
    height: 2.9rem;
    border-radius: 1.8rem;

    box-shadow:
        0 0.2em 0.3em rgba(255, 254, 254, 0.05),
        inset 0.2em 0.3em 0.4em rgba(255, 251, 251, 0.25);
}

.walletLoginButton {
    display: none;
    width: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    border: 0.3rem solid rgba(90, 11, 54, 0.8);
}

.main-header-button:hover,
.walletLoginButton:hover,
.button-dropdownmenu:hover {
    filter: brightness(1.1);
    background-color: rgba(188, 215, 255, 0.95);
    color: rgba(6, 42, 97, 0.8);
}

.main-header-button-selected {
    filter: brightness(1.1);
    background-color: rgba(188, 215, 255, 0.95);
    color: rgba(6, 42, 97, 0.8);
    transition-duration: 0.8s;
}

/* #endregion header buttons */

/* #region Wallet login control */

.wallet-control-not-logged-in {
    display: none;
    /* display: block; */
    position: absolute;

    text-align: end;
    margin-left: -2.4rem;
    margin-top: 1.14rem;
    padding-bottom: 2rem;
    background-color: #55557b;
    height: 5rem;
    padding-top: 1rem;
    width: 12rem;
    border-bottom-left-radius: 1.4rem;
    border-bottom-right-radius: 1.4rem;
    /* box-shadow: 0 0.4em 0.6em rgba(255, 254, 254, 0.25), inset 0.4em 0.3em 0.6em rgba(255, 251, 251, 0.25); */
    box-shadow:
        0 0.2em 0.3em rgba(255, 254, 254, 0.25),
        inset 0.2em 0.15em 0.3em rgba(255, 251, 251, 0.25);
}

.button-dropdownmenu {
    /* float: left; */
    height: 2.5rem;
    width: 9rem;

    margin: 0.2rem 2rem 0.4rem 1.7rem;
    cursor: pointer;
    border-radius: 0.6em;

    color: rgb(222, 218, 218);
    transition-duration: 0.1s;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
    display: block;
}

.dropdown {
    position: relative;
    display: inline-block;
}

/* #endregion Wallet login control */

/* #region control spacings */

.content-control-div {
    width: 100%;
    border-radius: 0.6rem;

    background-color: rgba(85, 85, 123, 0.2);
    /* background-color: yellow; */

    box-shadow:
        0 0.1rem 0.2rem rgba(255, 254, 254, 0.25),
        inset 0.1rem 0.15rem 0.2rem rgba(255, 251, 251, 0.25),
        0.2rem 0rem 0.3rem rgba(255, 254, 254, 0.25),
        inset 0.2rem -0.15rem 0.3rem rgba(255, 251, 251, 0.25);
}

.inner-content-control-spacing {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
/* #endregion control spacings */

footer {
    background-color: #14143a;

    /* padding: 0.5em, 0.5em, 0.5em, 0.5em; */

    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.6rem;

    color: #ffffff;
    border: 1px solid #000000;
    box-shadow:
        inset 0 1px 0 rgba(255, 255, 255, 0.1),
        0 1px 2px rgba(0, 0, 0, 0.25);
    z-index: 10;
    position: block;
    bottom: 0rem;
    left: 0;
}

ul.social_icon {
    float: center;
    padding-top: 0.1rem;
}

ul.social_icon li {
    display: inline-block;
    padding-right: 0.5rem;
    padding-left: 1rem;
}

ul.social_icon li:last-child {
    padding-right: 0;
}

ul.social_icon li a {
    color: #fefeff;
    display: inline-block;
    text-align: center;
    line-height: 0.5rem;
    border-radius: 100%;
    font-size: 1rem;
    font-weight: bold;
}

ul.social_icon li a:hover {
    color: #6dcff6;
    transition: ease-in all 0.2s;
}

.content-control-div,
.content-control-left-navigation {
    width: 100%;
    border-radius: 0.6rem;

    background-color: rgba(85, 85, 123, 0.2);
    /* background-color: yellow; */

    box-shadow:
        0 0.1rem 0.2rem rgba(255, 254, 254, 0.25),
        inset 0.1rem 0.15rem 0.2rem rgba(255, 251, 251, 0.25),
        0.2rem 0rem 0.3rem rgba(255, 254, 254, 0.25),
        inset 0.2rem -0.15rem 0.3rem rgba(255, 251, 251, 0.25);
    /* Top, right, left, bottom */
    /* box-shadow: inset 0 0.1em 0.01em 0.01em rgba(255, 251, 251, 0.05),
    inset 0.1em 0.1em 0.01em 0.01em rgba(255, 251, 251, 0.05),
    inset -0.1em 0.1em 0.01em 0.01em rgba(255, 251, 251, 0.05),
    inset 0.1em -0.2em 0.01em 0.01em rgba(255, 251, 251, 0.05);  */

    /* box-shadow: inset 0 0.1em 0.01em 0.01em rgba(0, 0, 0, 0.05),
    inset 0.1em 0.1em 0.01em 0.01em rgba(0, 0, 0, 0.05),
    inset -0.1em 0.1em 0.01em 0.01em rgba(0, 0, 0, 0.05),
    inset 0.1em -0.2em 0.01em 0.01em rgba(0, 0, 0, 0.05); */
}

.content-control-div-header-text {
    font-size: 2.5rem;
    font-weight: bold;
    color: rgba(228, 235, 255, 1);
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    letter-spacing: 0.072rem;
    -webkit-text-stroke: 0.057rem #060606;
    paint-order: stroke fill;
}

.inner-content-control-spacing {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
