.news_item_youtube_cards {
    max-width: 1200px;
    /* margin: 0 auto; */
    margin-left: 4rem;
    display: grid;
    
    row-gap: 4rem;
    /* grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr)); */
  }

.news_item_youtube_card{
    background-color: dodgerblue;
    color: white;
    /* padding: 0.5rem; */
    width: 20rem;;
    height: 26rem;
    background: rgba(35, 138, 212, 0.42);
    border-radius: 2rem;
    align-items: center;
    justify-content: center;  
    border-radius: 2rem;    
    border: 0.8px solid  rgba(24,146,234,0.6); 
    
  }

  

  .news_item_youtube_card_text{
    color: rgba(255, 255, 255, 0.6);
    width: 18rem;        
    height: 7rem;
    /* margin: 0.5rem 0.5rem 0.5rem 0.5rem; */
    margin: 0.5rem auto;
    font-size: medium;

  }

  
  .news_item_youtube_card_view_more_item{
    color: rgba(255, 255, 255, 0.6);
    width: auto;        
    height: 2rem;
    /* margin: 0.5rem 0.5rem 0.5rem 0.5rem; */
    text-align: right;
    margin: 0.5rem auto; 
    margin-right: 0.5rem;  
    font-size: medium;     
  }

  .news_item_youtube_card_image{

    margin: 0em;
    padding: 0em;
    width: 100%;    
    height: 14rem;   
    border-radius: 0rem 0rem 2rem 2rem;     
  };

  @media (max-width: 600px) {
    .news_item_youtube_cards { grid-template-columns: repeat(1, 27rem); }
  }


  @media (min-width: 600px) {
    .news_item_youtube_cards { grid-template-columns: repeat(2, 27rem); }
  }

  @media (min-width: 850px) {
    .news_item_youtube_cards { grid-template-columns: repeat(3, 27rem); }
  }